---
layout: default
---

<div class="header-bar">
  <h1>{{ site.blog_name }}</h1>
  <h2>{{ site.blog_description }}</h2>
</div>

<div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@shivampotdar99","postsPerLine":2,"limit":100,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>


<!--<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}-->
